{#
/**
 * @file
 * Default theme implementation to present a quiz entity.
 *
 * This template is used when viewing a canonical quiz page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_quiz()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
    <h3>{{ 'Quiz information'|t }}</h3>
    <table class="info-table">
      {% for field in content %}
        {% if field['#title'] and field.0 %}
          <tr>
            <td class="quiz-info-name">
              {{ field['#title'] }}
            </td>
            <td class="quiz-info-value">
              {{ field.0 }}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <div class="take-quiz-link">
      {{ take_quiz }}
    </div>
    <h3>{{ 'Quiz results'|t }}</h3>
    <div class="quiz-results">
      {{ quiz_results }}
    </div>
  {% endif %}
</article>
